h1{
    color:#2833ca;
}
h2{
    color:#ff5704;
}
h3{
    color: rgb(100, 224, 66);
 }
p{
   color:rgb(253, 168, 168); background-color:rgba(35, 23, 77, 0.658) ;
}
body{
    background-color: black;
}
img{
    height:100px;
    width:100px
}